html,
body {
	height: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 2.5em;
	margin: 0;
}
.pull-left, .pull-right {
	position: absolute;
}
.pull-left {
	left: 0;
}
.pull-right {
	right: 0;
}



/* CONTAINERS - OUTER */
.map-container,
.overlay-container {
	background-color: #fff;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}



/* HEADERS */
.page-header {
	border: none;
	height: 60px;
	margin: 0;
	padding: 0;
}

.logo {
	height: 50px;
	margin-top: 5px;
}
.page-header a {
	margin: 16px;
}
.overlay-close {
	margin: 23px auto auto 68px;
}

/* BODIES */
.page-header + .row {
	bottom: 0;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 60px;
}

.angular-google-map-container {
	height: 100%;
}


/* CLICKABLE OBJECTS */
.glyphicon-thumbs-up,
.glyphicon-remove,
.glyphicon-chevron-left,
.clickable {
	cursor:pointer;
}

