html,
body {
	height: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 2.5em;
	margin: 0;
}
.pull-left, .pull-right {
	position: absolute;
}
.pull-left {
	left: 0;
}
.pull-right {
	right: 0;
}


.app-container {
	background-color: #fff;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.app-content {
	bottom: 0;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 60px;
}

/* CONTAINERS - OUTER */
.map-container {
	background-color: #fff;
	box-sizing: border-box;
	height: 100%;
}
/*
.map-container div[class^="col-md"] {
	height: 100%;
}
*/
.angular-google-map-container,
.angular-google-map {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
}

.map-container.shrunkd,
.shrunkd .angular-google-map-container,
.shrunkd .angular-google-map
 {
	height: 180px;
}

/* HEADERS */
.page-header {
	border: none;
	height: 60px;
	margin: 0;
	padding: 0;
}

.logo {
	height: 50px;
	margin-top: 5px;
}
.page-header a {
	margin: 16px;
}
.overlay-close {
	margin: 23px auto auto 68px;
}



/* CLICKABLE OBJECTS */
.glyphicon-thumbs-up,
.glyphicon-remove,
.glyphicon-chevron-left,
.clickable {
	cursor:pointer;
}

