html,
body {
	height: 100%;
	overflow-x: hidden;
}
.angular-google-map-container {
	height: 100%;
}
.col-md-6 .angular-google-map-container {
	height: 50%;
	/* remove bootstrap extra gutters too */
	margin-left: -15px;
	margin-right: -15px;
}
@media (min-width: 992px) {
	.col-md-6 .angular-google-map-container {
		height: 100%;
	}
}


.glyphicon-thumbs-up,
.glyphicon-remove {
	cursor:pointer;
}


.overlay-container {
	background-color: #fff;
	left: 0;
	min-height: 100%;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}
