<!-- Main Feed block -->

<div ng-show="showMainFeed" class="container-fluid feed-container">
	<div class="row">
		<!--div class="col-md-12"-->
			<ng-include src="'partials/feed-block-header_bar.html'"></ng-include>
		<!--/div-->
	</div>
	<!--
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary btn-xs" ng-click="loadSampleFeed('twitter','list', 0);">Sample Twitter List?!</button>
			<button class="btn btn-primary btn-xs" ng-click="loadSampleFeed('twitter','user', 0);">Sample Twitter User?!</button>
			<button class="btn btn-primary btn-xs" ng-click="loadSampleFeed('instagram','loc', 0);">Sample Instagram Location?!</button>
			<button class="btn btn-primary btn-xs" ng-click="loadSampleFeed('instagram','user', 0);">Sample Instagram User?!</button>
		</div>
	</div>
	-->
	<div class="row">
		<div class="col-md-12">
			<p class="text-center" ng-hide="newsLoaded">Loading News...</p>
			<div ng-repeat="news in newsfeed" class="feed-item">
				<p ng-bind-html="news.body"></p>
				<div class="media">
					<a class="media-left" href="#{{news.origin_id}}">
						<img ng-src="{{news.user.profile_image_url}}" alt="{{user.screen_name}}" style="width:48px;height:48px">
					</a>
					<div class="media-body">
						<p>
							<strong ng-bind-html="news.user.name" title="@{{news.user.screen_name}}"></strong><br />
							<span class="fa fa-{{news.source}}"></span> <span ng-bind-html="news.prettyTime"></span> | <abbr title="distance coming soon?">12 miles from you</abbr>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>