<!-- HOME block(s)-->

<ng-include src="'partials/app-menu.html'"></ng-include>
<div class="left-half">
	<ng-include src="'partials/app-header.html'"></ng-include>
	<ng-include src="'partials/map-block.html'"></ng-include>
</div>
<div class="right-half">
		<!-- Tabbed structure -->
		<div class="btn-group btn-group-justified" ng-init="tab=1; tabclass='tabslider tab1'">
			<div class="btn-group">
				<button type="button" class="btn btn-{{tab==1 ? 'info' : 'default'}}" ng-click="tab = 1; tabclass = 'tabslider tab1'"><span class="fa fa-list"></span><small> Feed</small></button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-{{tab==2 ? 'info' : 'default'}}" ng-click="tab = 2; tabclass = 'tabslider tab2'"><span class="fa fa-camera-retro"></span><small> Images</small></button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-{{tab==3 ? 'info' : 'default'}}" ng-click="tab = 3; tabclass = 'tabslider tab3'"><span class="fa fa-map-marker"></span><small> Nearby</small></button>
			</div>
		</div>

		<!-- Tabs -->
		<div ng-class="tabclass">
			<div class="slides">
				<div class="container-fluid slide slide1">
					<div class="row">
						<div class="col-md-12">
							<ng-include src="'partials/feed-block.html'"></ng-include>
						</div>
					</div>
				</div>

				<div class="container-fluid slide slide2">
					<div class="row">
						<div class="col-md-12">
							<ng-include src="'partials/overlay-block-pics_tab.html'"></ng-include>
						</div>
					</div>
				</div>
				
				<div class="container-fluid slide slide3">
					<div class="row">
						<div class="col-md-12">
							<p>LIST OF DOTS VISIBLE ON YOUR SCREEN HERE WHAT</p>
							<!--ng-include src="'partials/overlay-block-info_tab.html'"></ng-include-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--ng-include src="'partials/overlay-block.html'"></ng-include-->