<!-- Main Feed block -->

<div class="feed-container">
	<div ng-hide="nearbyLoaded && !nearbyNotFound" class="feed-item">
		<div class="media-body">
			<p class="text-center" ng-hide="nearbyLoaded">Loading Nearby Breweries...</p>
			<p class="text-center" ng-show="nearbyNotFound">No Breweries found in the current map area - please try again.</p>
		</div>
	</div>
	<div ng-show="!nearbyNotFound">
		<div ng-repeat="marker in nearbyMarkers" ng-mouseover="marker.mouseover();" ng-mouseout="marker.mouseout();" class="feed-item clickable {{marker.activeClass}}" ng-click="marker.onClick();">
			<div class="media">
				<div ng-hide="hideDistances" class="pull-right">
					<br />
					<small><abbr class="distance" ng-bind-html="marker.distance"></abbr></small>
				</div>
				<div class="media-body">
					<p>
						<strong ng-bind-html="marker.fullName"></strong><br />
						<small>
							<span ng-bind-html="marker.fullAddr()"></span>
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>