<!-- OVERLAY container -->

<div ng-show="showOverlay" class="container-fluid overlay-container {{overlayclass}}" ng-init="locationDatas.selected=0">
	<!-- HEADER -->
	<div class="row">
		<ng-include src="'partials/overlay-header.html'"></ng-include>
	</div>

	<!-- Tabbed structure -->
	<div class="btn-group btn-group-justified" ng-init="tab = 1">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="tab = 1">Feed</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="tab = 2">Images</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="tab = 3">Info</button>
		</div>
	</div>

	<!-- Tabs -->
	<div class="row" ng-show="tab === 1">
		<div class="col-md-12">
			<ng-include src="'partials/overlay-block-feed_tab.html'"></ng-include>
		</div>
	</div>

	<div class="row" ng-show="tab === 2">
		<div class="col-md-12">
			<ng-include src="'partials/overlay-block-pics_tab.html'"></ng-include>
		</div>
	</div>

	<div class="row" ng-show="tab === 3">
		<div class="col-md-12">
			<ng-include src="'partials/overlay-block-info_tab.html'"></ng-include>
		</div>
	</div>

</div>