<!-- OVERLAY header -->
<nav class="navbar navbar-inverse navbar-static-top" roll="navigation">
	<div class="container-fluid">

			<ul class="nav navbar-nav navbar-left">
				<li>
					<a class="clickable" ng-click="locationData.closeRight()">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</a>
				</li>
				<li>
					<p class="navbar-text">{{locationData.name}} <small>{{locationData.loc}}</small></p>
				</li>
				<li>
					<p class="navbar-text">Show Mileage Here</p>
				</li>
				<li>
					<p class="navbar-text">Get Directions?</p>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="clickable">
						<i class="glyphicon glyphicon-chevron-down"></i>
					</a>
				</li>
			</ul>

	</div>
</nav>
