<!-- OVERLAY container -->

<div ng-show="showOverlay" class="container-fluid overlay-container {{overlayclass}} ng-hide" ng-init="locationDatas.selected=0">
	<!-- HEADER -->
	<div class="page-header">
		<ng-include src="'partials/overlay-header.html'"></ng-include>
	</div>

	<!-- BODY -->

	<tabset justified="true">

		<tab heading="Feed">
			<div class="row">
				<div class="col-md-12">
					<ng-include src="'partials/overlay-block-feed_tab.html'"></ng-include>
				</div>
			</div>
		</tab>

		<tab heading="Images">
			<div class="row">
				<div class="col-md-12">
					<ng-include src="'partials/overlay-block-pics_tab.html'"></ng-include>
				</div>
			</div>
		</tab>

		<tab heading="Info">
			<div class="row">
				<div class="col-md-12">
					<ng-include src="'partials/overlay-block-info_tab.html'"></ng-include>
				</div>
			</div>
		</tab>

	</tabset>


</div>