<!-- OVERLAY container -->

<div ng-show="showOverlay" class="container-fluid overlay-container {{overlayclass}} ng-hide" ng-init="locationDatas.selected=0">
	<!-- HEADER -->
	<div class="page-header">
		<ng-include src="'partials/overlay-header.html'"></ng-include>
	</div>
	<!-- BODY -->

	<tabset justified="true">

		<tab heading="Feed">The feed would go here</tab>
		
		<tab heading="Images">Show me the pictures!</tab>

		<tab heading="Info">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-6">
							<address>
								<strong><abbr title="{{locationData.coords.latitude}}, {{locationData.coords.longitude}}">Location</abbr></strong><br />
								<span>{{locationData.addr}}</span><br />
								<span>{{locationData.city}}, {{locationData.state}} {{locationData.zip}}<br />
								<span ng-show="locationData.phone != ''"><abbr title="Phone">P:</abbr> <a href="tel:{{locationData.phoneNumber()}}">{{locationData.phone}}</a></span>
							</address>
						</div>
						<div class="col-xs-6">
							<p>
								<!-- can still clean this up more.. -->
								<span ng-show="locationData.www != ''"><span class="fa fa-globe" title="Website"></span> <a href="http://{{locationData.www}}" target="_blank">{{locationData.www}}</a><br /></span>
								<span ng-show="locationData.fb != ''"><span class="fa fa-facebook-square" title="Facebook"></span> <a href="https://www.facebook.com/{{locationData.fb}}" target="_blank">{{locationData.fb}}</a><br /></span>
								<span ng-show="locationData.tw != ''"><span class="fa fa-twitter" title="Twitter"></span> <a href="https://twitter.com/{{locationData.tw}}" target="_blank">{{locationData.tw}}</a><br /></span>
								<span ng-show="locationData.ins != ''"><span class="fa fa-instagram" title="Instagram"></span> <a href="http://instagram.com/{{locationData.ins}}" target="_blank">{{locationData.ins}}</a><br /></span>
							</p>
						</div>
					</div>
					<!--
					<div class="row">
						<div class="col-md-12">
							<p><small><a href="#/list">view all breweries in a list?</a></small></p>
						</div>
					</div>
					-->
				</div>
			</div>
			<!-- END tabbed block -->
		</tab>
	</tabset>


</div>