<!-- SEARCH block : float right -->
<ul class="nav navbar-nav navbar-right">
	<li>
		<a class="clickable" ng-click="showSearch = !showSearch">
			<i class="fa fa-search" ng-hide="showSearch"></i>
			<i class="fa fa-close" ng-show="showSearch"></i>
		</a>
	</li>
</ul>
<form class="navbar-form navbar-right"  ng-controller="mainCtrl" role="search" ng-show="showSearch">
		<input type="text" ng-model="searched" placeholder="Search" typeahead="marker.name as marker.fullName for marker in markers | filter:{fullNameSearch:$viewValue} | limitTo: 20" typeahead-on-select="searchFor($item,$model,$label); searched = '';" class="form-control">
</form>