<html>
	<head>
		<title>Beer Map'd</title>
		<!-- bootstrap css -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<!-- fontawesome for more : http://fortawesome.github.io/Font-Awesome/icons/#web-application -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- custom styles -->
		<link href="includes/styles.css" rel="stylesheet">
		<!-- javascripts -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="includes/map.styles.js"></script>
		<script src="includes/angular-ui-router.js"></script>
		<script src="includes/angular-resource.js"></script>
		<script src="includes/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
		<script src="includes/lodash.compat.min.js"></script>
		<script src="includes/bluebird.js"></script>
		<script src="includes/angular-google-maps.min.js"></script>
		<script src="angularApp.js"></script>
	</head>
	<body ng-app="beerMap">
		<div class="container-fluid">
			<ui-view></ui-view>
		</div>
		<script type="text/ng-template" id="/home.html">
			<div class="row">
				<div class="{{mapclass}}">
					<ui-gmap-google-map bounds="map.bounds" options="options" styles="styles" draggable="true" center="map.center" zoom="map.zoom">
						<ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'onClick'"></ui-gmap-markers>
					</ui-gmap-google-map>
				</div>
				<div ng-show="brewon != false" class="{{overlayclass}}" ng-init="markers.selected=0">
					<div ng-repeat="marker in markers">
					<div id="{{marker.id}}" ng-if="markers.selected == marker.id" class="switch-animation">
					<div class="page-header">
						<span class="pull-right"><span class="glyphicon glyphicon-remove" ng-click="marker.closeRight()"></span></span>
						<h1>{{marker.name}} <small>{{marker.loc}}</small></h1>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<address>
								<strong><abbr title="{{marker.coords.latitude}}, {{marker.coords.longitude}}">Location</abbr></strong><br />
								<span>{{marker.addr}}</span><br />
								<span>{{marker.city}}, {{marker.state}} {{marker.zip}}<br />
								<span ng-show="marker.phone != ''"><abbr title="Phone">P:</abbr> <a href="tel:{{marker.phoneNumber()}}">{{marker.phone}}</a></span>
							</address>
						</div>
						<div class="col-sm-8">
							<p>
								<span ng-show="marker.www != ''"><span class="fa fa-globe" title="Website"></span> <a href="{{marker.www}}" target="_blank">{{marker.www}}</a><br /></span>
								<span ng-show="marker.fb != ''"><span class="fa fa-facebook-square" title="Facebook"></span> <a href="https://www.facebook.com/{{marker.fb}}" target="_blank">{{marker.fb}}</a><br /></span>
								<span ng-show="marker.tw != ''"><span class="fa fa-twitter" title="Twitter"></span> <a href="https://twitter.com/{{marker.tw}}" target="_blank">{{marker.tw}}</a><br /></span>
								<span ng-show="marker.ins != ''"><span class="fa fa-instagram" title="Instagram"></span> <a href="http://instagram.com/{{marker.ins}}" target="_blank">{{marker.ins}}</a><br /></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						<p><small><a href="#/list">view all breweries in a list?</a></small></p>
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="/list.html">
			<div class="page-header">
				<h1 class="text-center"><span class="pull-left"><a href="#/home" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> back to map</a></span>All Brewery Location Listings</h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>list here...</p>
				</div>
			</div>
		</script>
	</body>
</html>